.adsbygoogle {
	display:none!important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  .logo-tel {
	display: none!important;
}

.weatherwidget-io {
	display:none!important;
}
